@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 233 18% 19%;
    --foreground: 173 24% 93%;
    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;
    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;
    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;
    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;
    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;
    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 100% 71%;
    --chart-1: 44 100% 71%;
    --chart-2: 44 30% 25%;
    --chart-3: 233 18% 34%;
    --chart-4: 44 30% 28%;
    --chart-5: 44 103% 71%;
    --radius: 0.5rem; */
    --background: 233 18% 19%;
    --foreground: 173 24% 93%;
    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;
    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;
    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;
    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;
    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;
    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 100% 71%;
    --chart-1: 44 100% 71%;
    --chart-2: 44 30% 25%;
    --chart-3: 233 18% 34%;
    --chart-4: 44 30% 28%;
    --chart-5: 44 103% 71%;
    --radius: 0.5rem;
  }

  .dark {
    /* --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 0 0% 82.75%;
    --primary-foreground: 0 0% 20%;
    --secondary: 225.45 71.22% 72.75%;
    --secondary-foreground: 234.55 17.46% 12.35%;
    --accent: 234.55 17.83% 9.47%;
    --accent-foreground: 0 0% 82.75%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
    --chart-1: 0 0% 82.75%;
    --chart-2: 225.45 71.22% 72.75%;
    --chart-3: 234.55 17.83% 9.47%;
    --chart-4: 225.45 71.22% 75.75%;
    --chart-5: 0 3% 82.75%; */
    --background: 229 27% 8%;
    --foreground: 232 28% 79%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 229 12% 65%;
    --popover: 229 27% 5%;
    --popover-foreground: 232 28% 89%;
    --card: 229 27% 6%;
    --card-foreground: 232 28% 84%;
    --border: 229 17% 13%;
    --input: 229 17% 16%;
    --primary: 174 42% 65%;
    --primary-foreground: 174 42% 5%;
    --secondary: 174 30% 25%;
    --secondary-foreground: 174 30% 85%;
    --accent: 234.55 17.83% 9.47%;
    --accent-foreground: 0 0% 82.75%;
    --destructive: 5 88% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 174 42% 65%;
    --chart-1: 174 42% 65%;
    --chart-2: 174 30% 25%;
    --chart-3: 229 27% 23%;
    --chart-4: 174 30% 28%;
    --chart-5: 174 45% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    /* @apply bg-background text-foreground;   */
  }
}

/* * {
  border: inset 1px red;
} */
